<style>
    .striped>tbody>tr:nth-child(odd)>td,
.striped>tbody>tr:nth-child(odd)>th {
background-color: #e0f2f1;
}

.input-field input:focus
{

     border-bottom: 1px solid #42a5f5 !important;
     box-shadow: 0 1px 0 0 #42a5f5 !important
}
</style>
