.striped>tbody>tr:nth-child(odd)>td,
.striped>tbody>tr:nth-child(odd)>th {
background-color: #e0f2f1 !important;
}

.input-field input:focus
{

     border-bottom: 1px solid #90caf9 !important;
     box-shadow: 0 1px 0 0 #90caf9 !important;
}

.nav-wrapper container
{
	margin-left: -1px !important;
}

.input-group {
    display: table;
}

.input-group input, .suffix {
    display: table-cell;
}

.title {
  font-weight: bold;
}

.suffix {
    width:1%;
}
